.container__history {
  display: flex;
  flex-direction: column;
  font-family: "Roboto-Light";
  font-size: 16px;
}

.header__history {
  display: flex;
  justify-content: right;
  align-items: baseline;
  margin-bottom: 30px;
}

.header__history__action {
  cursor: default;
  color: #eb4a42;
}

.header__history__action:hover {
  color: #f08580;
}

.header__history__title {
  color: #555555;
  margin-right: 10px;
}

.container__history__table {
  overflow-y: scroll;
}

.table__main {
  width: 100%;
}

thead {
  color: #aaaaaa;
  font-size: 14px;
  font-family: "Roboto-Regular";
}

tr,
td {
  padding: 15px 0px;
}

tbody {
  color: #555555;
}

.short__link {
  display: flex;
  justify-content: space-between;
}

.short__link > span > p > span {
  color: #eb4a42;
}

.copy__link {
  color: #eb4a42;
}

.original__link {
  padding: 10px 0;
  color: #cccccc;
}

.short__link__container {
  cursor: pointer;
}

.thead__left.short__link__container.border {
  border-left: 3px solid #eb4a42;
  padding-left: 10px;
}

.thead__left.short__link__container {
  padding-left: 10px;
}
